/* FONTS */
@font-face {
    font-family: ubuntu;
    src: url('Fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: ubuntu-bold;
    src: url('Fonts/Ubuntu/Ubuntu-Bold.ttf');
}

body {
    margin: 0;
    font-family: ubuntu;
    background-color: rgb(226, 226, 226);
}

h1, h2, h3, h4, h5 {
    font-family: ubuntu-bold;
}

/* NAVBAR */
nav {
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 40px;
}

.nav-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav h1 {
    font-size: 20px;
    text-align: center;
    color: white;
    width: auto;

    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 10px;
}

nav ul {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
  
nav li {
    background-color: rgb(255, 115, 0);
    width: 120px;
    margin-right: 10px;
    /* border-radius: 50px; */
}
  
nav li a {
    font-size: 20px;
    display: block;
    background-color: white;
    color: #111;
    text-align: center;
    text-decoration: none;
    /* border-radius: 50px; */
}
  
nav li a:hover {
    background-color: #111;
    color: rgb(181, 181, 181);
}

.nav-bottomBar {
    height: 10px;
    background-color: #111;
}

/* INFO PANEL */
.info-container {
    padding-top: 40px;
    padding-right: 0;
    background-color: rgb(255, 255, 255);
    display: flex;

    height: 350px;
}

.info {
    display: block;
    padding: 20px;
    
    float: left;
}

.info h1 {
    margin-top: 5px;
    margin-bottom: 0;
}

.info h5 {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(226, 144, 13);
}

.info h3 {
    margin-top: 10px;
    font-style: italic;
    color: rgb(56, 188, 8);
}

.info p {
    color: rgb(58, 58, 58);
}

.professionalPicture {
    width: 100%;
    height: 100%;

    text-align: right;
}

.professionalPicture img {
    height: inherit;
    float: right;
    display: block;
    margin-right: 0;
}

/* SKILLS PANEL */ 
.skills-container {
    display: flex;
    justify-content: center;
}

.column {
    text-align: center;
    width: 400px;
} .column img {
    height: 50px;
    margin: 20px
} .column h2 {
    text-align: center;
    margin: 10px 10px;
} .column p {
    padding: 10px;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills-left {
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 50%, rgba(253,187,45,1) 100%); 
    border-top-left-radius: 50px;
}
.skills-center {
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 50%, rgba(253,187,45,1) 100%); 
}
.skills-right {
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 50%, rgba(253,187,45,1) 100%); 
    border-top-right-radius: 50px;
}

.footer-container {
    text-align: center;
}

/* HOBBIES PANEL */
.hobbies {
    background-color: rgb(183, 234, 165);
    text-align: center;
    border-radius: 50px 50px 0 0;
}

.hobbies h1 {
    text-align: center;
}

.hobbies-row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: solid rgb(49, 149, 13);
} .hobbies-row p {
    text-align: left;
    font-size: 15px;
} .hobbies-row i {
    padding-right: 10px;
    font-size: 20px;
} .hobbies-row h4 {
    color: black;
}

/* FORM PANEL */
.form {
    padding: 40px;
    background-color: #bebebe;
    text-align: center;
} .form form {
    text-align: left;
}

.form-user {
    margin-left: 30%;
    margin-right: 30%;
}

.submit {
    margin-top: 5px;
    background-color: rgb(73, 217, 20);
} .submit:hover {
    background-color: rgb(60, 180, 16);
}

/* FOOTER */
footer {
    margin-top: 20px;
    background-color: #333;
    padding: 5px;
    height: auto;
} footer i {
    margin-left: 10px;
} footer .spotify {
    color: #1DB954;
} footer .spotify:hover {
    color: #189845;
}

/* MEDIA TAGS */
@media screen and (max-width: 1200px) {
    /* INFO PANEL */
    .info-container {
        padding-top: 30px;
        height: auto;
    }

    .professionalPicture img {
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    /* INFO PANEL */
    .professionalPicture {
        display: none;
    }

    /* SKILLS PANEL */ 
    .skills-container {
        display: inline-block;
        justify-content: none;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .column {
        width: 100%;
        height: auto;
    }

    .skills-left {
        border-radius: 0;
    }
    .skills-right {
        border-radius: 0;
    }

    /* HOBBIES PANEL */
    .hobbies {
        max-width: fit-content;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 787px) {
    /* INFO PANEL */
    nav h1 {
        margin-right: 0;
    }

    nav li {
        width: auto;
    }

    nav li a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 575px) {
    /* INFO PANEL */
    nav {
        height: auto;
    }

    .nav-content {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }

    nav li a {
        margin-bottom: 5px;
    }

    nav h1 {
        display: none;
    }

    .info-container {
        padding-top: 30px;
        height: auto;
    }

    /* SKILLS PANEL */ 
    .skills-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* ASSIGNMENT MEDIA TAGS */
@media screen and (max-width: 900px) {
    footer {
        background-color: rgb(15, 101, 0);
    }

    .info-container {
        color: rgb(255, 255, 255);
        background-color: rgb(28, 28, 28);
    } .info-container p {
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(118, 118, 118);
    }

    .info-container {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    } .info-container p {
        color: rgb(0, 0, 0);
    }
}